<h1>You are on basics page</h1>
<ul>
    <li><a href="#">Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</a></li>
    <li><a href="#">Qué puede hacerse con un resource?</a>
    <li><a href="#">Qué es RESTful routing?</a>
        <ul>
            <li><a href="#">Cuantas acciones básicas tiene esta filosofía?</a></li>
            <li><a href="#">Cuales son?</a></li>
            <li><a href="#">Cuales verbos HTTP se utilizan en cada una de ellas?</a></li>
        </ul>
    </li>
</ul>