<h1>You are on git page</h1>
<ul>
    <li><a href="#">Inicialización de un repositorio de git nuevo en una aplicación existente</a></li>
    <li><a href="#">Creación de un branch nuevo</a>
    <li><a href="#">Realizar un commit incluyendo todos los cambios actuales</a></li>
    <li><a href="#">Cómo enviar el código al repositorio remoto</a></li>
    <li><a href="#">Cómo configurar el origen del repositorio remoto para evitar escribirlo siempre cada vez que se hace un push o un pull.</a></li>
    <li><a href="#">Diferencia entre un reset y revert</a></li>
    <li><a href="#">Además de cambiar de ramas, para qué más se puede utilizar el comando git checkout</a></li>
    <li><a href="#">Como puede ver los commits que se han realizado en el proyecto</a></li>
    <li><a href="#">He modificado dos archivos y quiero hacer un commit por cada uno de ellos, cómo lo puedo hacer?</a></li>
</ul>