<h1>You are on ruby page</h1>
<ul>
    <li><a href="#">Interpolación de strings</a></li>
    <li><a href="#">Cómo se declara un array y cómo se adiciona un elemento al final del array</a>
    <li><a href="#">Cómo se itera un array utilizando el comando each</a></li>
    <li><a href="#">Cómo se declara un hash</a></li>
    <li><a href="#">Cómo se itera un hash utilizando el comando each</a></li>
    <li><a href="#">Que es un block en ruby? De un ejemplo de cómo utilizarlo</a></li>
    <li><a href="#">Cual es la convención en Ruby a la hora de nombrar variables?</a></li>
    <li><a href="#">Qué son attr_reader, attr_writer y attr_accesor? Para qué sirven?</a></li>
</ul>